
<div class="menu-primary-menu-container">
    <ul class="primary-menu-wrapper">
        <li>
            <a routerLink="/shop">محصولات</a>
        </li>
        <li>
            <a routerLink="/product-category">دسته بندی</a>
        </li>
        <li>
            <a routerLink="/home">مقالات</a>
        </li>
        <li>
            <a routerLink="/home">تماس با ما</a>
        </li>
    </ul>
</div>
<!-- <button type="button" class="btn hamburger-btn">
        <i class="dashicons dashicons-dashboard"></i>
    </button> -->
<app-search-form></app-search-form>