.input-group {
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;
    .group-grow {
      position: relative;
      flex: 1 1 auto;
      width: 1%;
      min-width: 0;
      &:focus {
        z-index: 3;
      }
      .form-control,
      .form-select {
        width: 100%;
        &:focus {
          z-index: 3;
        }
      }
    }
    .btn {
      position: relative;
      z-index: 2;
      &:focus {
        z-index: 3;
      }
    }
  }
  
  .input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
  }
  
  .input-group-lg .form-control,
  .input-group-lg .form-select,
  .input-group-lg .input-group-text,
  .input-group-lg .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
  }
  
  .input-group-sm .form-control,
  .input-group-sm .form-select,
  .input-group-sm .input-group-text,
  .input-group-sm .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
  }
  
  .input-group-lg .form-select,
  .input-group-sm .form-select {
    padding-left: 3rem;
  }
  
  .input-group > :not(:first-child){
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -1px;
    .form-select, .form-control{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .input-group > :not(:last-child){
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    .form-select, .form-control{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }