.dropdown {
    position: relative;
    .dropdown-toggler {
        color: var(--forpet-color-light);
        font-size: 12px;
        border: none;

        &:active {
            transform: scale(0.98);
        }

        i {
            font-size: 17px;
            margin-left: 8px;
        }

        &:hover {
            color: var(--forpet-color-light-shade);
        }
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        top: calc(100% + 10px);
        min-width: 210px;
        width: 210px;
        z-index: 1;
        background-color: var(--forpet-color-dark-tint);
        border-radius: 10px;
        color: var(--forpet-color-light);
    }

    &.show {
        .dropdown-menu {
            display: block;
        }
    }
}

.dropdown-inner {
    position: relative;
    padding: 14px;


    &::before {
        content: '';
        display: block;
        width: 85px;
        height: 3px;
        background-color: var(--forpet-color-primary);
        border-radius: 1px;
        position: absolute;
        top: 0;
    }

    .id-container {
        text-align: center;

        img {
            border-radius: 50%;
            border: 3px solid #bbb;
        }

        h6 {
            margin-top: 10px;
        }
    }

    button {
        font-size: 14px;
        --bs-btn-font-weight: var(--forpet-heading-font-weight);
        border: none;

        &:active {
            transform: scale(0.98);
        }
    }
}

.menu-container {
    margin-top: 36px;
    margin-bottom: 16px;
}

.menu-wrapper {
    font-size: 12px;

    a {
        --bs-link-color: var(--forpet-color-light);
        --bs-link-hover-color: var(--forpet-color-light-shade);

        i {
            color: var(--forpet-color-primary);
            margin-left: 8px;
        }
    }

    li {
        border-bottom: 1px solid var(--bs-gray-700);
        padding: 5px 0;

        &:first-child {
            i {
                color: var(--forpet-color-success);
            }
        }
    }
}



@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (min-width: 769px) {
    .dropdown {


        .dropdown-menu {
            left: 0;
        }
    }

    .dropdown-inner {
        &::before {
            left: 10px;
        }
    }
}

@media (max-width: 768px) {
    .dropdown {

        .dropdown-toggler {
        
            padding: 5px 8px;
            border: 1px solid var(--bs-gray-500);
            border-radius: 3px;
            background-color: var(--forpet-color-tertiary-tint);
            i{
                margin: 0;
            }
            span{
                display: none;
            }
        }
    }
  
    .dropdown-inner {
        &::before {
            right: 10px;
        }
    }
}

@media (max-width: 576px) {
    .dropdown {
        .dropdown-menu {
            right: 0;
        }
    }
}

@media (max-width: 357px) {}