:host{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bs-gray-200);
}
.loading-container{
    display: block;
    padding: 16px;
    border: 1px solid var(--bs-gray-400);
    text-align: center;
    width: 330px;
    margin-bottom: 70px;
    z-index: 1;
    background-color: var(--forpet-color-light);
    img{
        filter: drop-shadow(1px 1px 1px var(--bs-gray-600));
    }
}
.dots-small{
    --forpet-color-light:var(--forpet-color-tertiary);
    margin: 16px auto;
}