<nav class="social-info">
    <a href="#">
        <i class="icon-forpet-telegram"></i>
    </a>
    <a href="#">
        <i class="icon-forpet-whatsapp"></i>
    </a>
    <a href="#">
        <i class="icon-forpet-instagram"></i>
    </a>
</nav>

<div class="dropdown-container">
    <app-mini-cart-popup [hasResponseArrived]="hasResponseArrived" [iBasket]="iBasket"></app-mini-cart-popup>
    <app-account-popup></app-account-popup>
</div>

<span class="call-info">
    <a href="tel:+989353728642">Call Us Now : +989353728642</a>
</span>