footer {
    padding-top: 20px;
    border-top: 1px solid var(--bs-gray-500);
    font-size: 12px;
}

.menus-content {
    position: relative;
    padding: 20px 10%;
    border-top: 1px solid var(--bs-gray-500);


    .menu-accent-menu-container {
        margin-right: 96px;
    }

    .scroll-zero {
        position: absolute;
        top: 20px;
        left: 10%;
        background-color: var(--forpet-color-medium-tint);
        opacity: 0.7;
        color: var(--bs-white);
        font-size: 10px;
        padding: 13px 12px;
        border-radius: 4px;
        border: none;

        &:active {
            transform: scale(0.97);
        }
        &:hover{
            opacity: 1;
        }
    }

}

.secondary-menu-wrapper {
    margin-top: 24px;


    li {
        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    a {
        --bs-link-color: var(--forpet-color-dark);
        --bs-link-hover-color: var(--forpet-color-dark-tint);
    }
}

.accent-menu-wrapper {
    display: flex;
    margin-top: 24px;
    font-size: 24px;

    li {
        margin: 0 6px;
    }

    a {
        display: flex;
        padding: 5px;
        border-radius: 3px;
        --bs-link-color: var(--forpet-color-light);
        --bs-link-hover-color: var(--forpet-color-light-shade);
        transition: color .2s;
    }

    .instagram {
        background-color: #c32aa3;
    }

    .telegram {
        background-color: #0bc;
    }

    .whatsapp {
        background-color: #25d366;
    }
}

.copyright-content {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    text-align: center;
    background: var(--forpet-color-medium);
    padding: 20px 0;
    color: var(--forpet-color-light);

    a {
        --bs-link-color: var(--forpet-color-light);
        --bs-link-hover-color: var(--forpet-color-light-shade);
    }

    .regulations {
        padding: 0 10%;
    }

    .designer-company {
        display: flex;
        align-items: center;
        margin-top: 20px;
        padding: 0 10%;
        line-height: 1;

        h5 {
            margin: 0 0 0 14px;
            font-family: SYSTEM-UI;
            font-size: 15px;
            border-left: 3px solid;
            padding: 3px 14px;
            line-height: 1;
        }

        a {
            margin-right: 12px;
            --bs-link-color: var(--forpet-color-secondary);
            --bs-link-hover-color: var(--forpet-color-secondary-shade);
        }
    }


}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .menus-content {
        padding: 20px 4%;

        .scroll-zero {
            left: 4%;
        }
    }

    .copyright-content {


        .regulations,
        .designer-company {
            padding: 0 4%;
        }

    }
}

@media (min-width: 577px) {
    .menus-content {
        >div {
            display: flex;
        }
    }

    .copyright-content {

        .regulations {
            display: flex;
            align-items: center;

            img {
                margin-left: 12px;
            }

            a {
                display: flex;
                align-items: center;
                margin-left: 12px;
            }
        }

        .designer-company {
            margin-right: auto;
        }
    }
}

@media (max-width: 576px) {
    .menus-content {
        .menu-accent-menu-container {
            margin-right: 0;
            margin-top: 28px;
        }
    }

    .secondary-menu-wrapper {
        margin-top: 16px;
    }

    .accent-menu-wrapper {
        justify-content: center;
    }

    .copyright-content {
        .designer-company {
            justify-content: center;
            padding-top: 20px;
            border-top: 1px solid var(--bs-gray-600);

            h5 {
                padding: 7px 14px;
            }

            a {
                display: block;
                margin: 8px 0 0 0;
            }
        }
    }
}

@media (max-width: 357px) {}