<footer>
    <div class="menus-content">
        <div>
            <div class="menu-secondary-menu-container">
                <h5>دسترسی سریع</h5>
                <ul class="secondary-menu-wrapper">
                    <li>
                        <a href="./search.html">محصولات</a>
                    </li>
                    <li>
                        <a href="./cart.html">سفارشات</a>
                    </li>
                </ul>
            </div>
            <div class="menu-accent-menu-container">
                <h5>ما را دنبال کنید</h5>
                <ul class="accent-menu-wrapper">
                    <li>
                        <a routerLink="/home" class="instagram">
                            <i class="icon-forpet-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/home" class="telegram">
                            <i class="icon-forpet-telegram"></i>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/home" class="whatsapp">
                            <i class="icon-forpet-whatsapp"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <button type="button" class="btn scroll-zero" (click)="scrollTop()">
            <i class="icon-forpet-chevron-top"></i>
        </button>
    </div>
    <div class="copyright-content">
        <div class="regulations">
            <span>
                <a routerLink="/home">
                    <img src="./assets/images/logo-light.png" width="100" alt="logo image">
                    <h5>فورپت</h5>
                </a>
            </span>
            <span>تمام حقوق مادی و معنوی این سایت متعلق به فورپت می باشد.</span>
        </div>
        <div class="designer-company">
            <h5>ForPet</h5>
            <span>
                2020 Buy pet food and supplies
                <a href="#">طراحی و توسعه توسط لیان وب</a>
            </span>
        </div>
    </div>
</footer>