<nav class="pagination-container">
    <ul class="pagination-wrapper">
        <li>
            <button type="button" class="btn btn-sm prev">قبلی</button>
        </li>
        <li>
            <button type="button" disabled class="btn btn-sm current">1</button>
        </li>
        <li>
            <button type="button" class="btn btn-sm">2</button>
        </li>
        <li>
            <button type="button" class="btn btn-sm">3</button>
        </li>
        <li>
            <button type="button" class="btn btn-sm next">بعدی</button>
        </li>
    </ul>
</nav>