
<h4 class="entry-title">دسته بندی محصولات</h4>
<div class="category-list-container">
    <ul class="category-list-wrapper">
        <li class="shadow">
            <a routerLink="/home" title="hello world">
                <img src="./assets/images/category-placeholder-h.png" alt="category placeholder">
                <h3 class="category-title">غذای خشک سگ و گربه ایرانی</h3>
            </a>
        </li>
        <li class="shadow">
            <a routerLink="/home" title="hello world">
                <img src="./assets/images/category-placeholder-h.png" alt="category placeholder">
                <h3 class="category-title">غذای خشک سگ و گربه ایرانی</h3>
            </a>
        </li>
        <li class="shadow">
            <a routerLink="/home" title="hello world">
                <img src="./assets/images/category-placeholder-h.png" alt="category placeholder">
                <h3 class="category-title">غذای خشک سگ و گربه ایرانی</h3>
            </a>
        </li>
        <li class="shadow">
            <a routerLink="/home" title="hello world">
                <img src="./assets/images/category-placeholder-h.png" alt="category placeholder">
                <h3 class="category-title">غذای خشک سگ و گربه ایرانی</h3>
            </a>
        </li>
        <li class="shadow">
            <a routerLink="/home" title="hello world">
                <img src="./assets/images/category-placeholder-h.png" alt="category placeholder">
                <h3 class="category-title">غذای خشک سگ و گربه ایرانی</h3>
            </a>
        </li>
        <li class="shadow">
            <a routerLink="/home" title="hello world">
                <img src="./assets/images/category-placeholder-h.png" alt="category placeholder">
                <h3 class="category-title">غذای خشک سگ و گربه ایرانی</h3>
            </a>
        </li>
        <li class="shadow">
            <a routerLink="/home" title="hello world">
                <img src="./assets/images/category-placeholder-h.png" alt="category placeholder">
                <h3 class="category-title">غذای خشک سگ و گربه ایرانی</h3>
            </a>
        </li>
        <li class="shadow">
            <a routerLink="/home" title="hello world">
                <img src="./assets/images/category-placeholder-h.png" alt="category placeholder">
                <h3 class="category-title">غذای خشک سگ و گربه ایرانی</h3>
            </a>
        </li>
        <li class="shadow">
            <a routerLink="/home" title="hello world">
                <img src="./assets/images/category-placeholder-h.png" alt="category placeholder">
                <h3 class="category-title">غذای خشک سگ و گربه ایرانی</h3>
            </a>
        </li>
        <li class="shadow">
            <a routerLink="/home" title="hello world">
                <img src="./assets/images/category-placeholder-h.png" alt="category placeholder">
                <h3 class="category-title">غذای خشک سگ و گربه ایرانی</h3>
            </a>
        </li>
    </ul>
</div>
